<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.AccLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.AccRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeServlet</servlet-name>
        <servlet-class>controller.EmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>controller.EmpDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServlet</servlet-name>
        <servlet-class>controller.EmpAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpLoginServlet</servlet-name>
        <servlet-class>controller.EmpLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>controller.EmpUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.EmpSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingServlet</servlet-name>
        <servlet-class>controller.AccSettingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CatagoriesServlet</servlet-name>
        <servlet-class>controller.CatagoriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CataSearchServlet</servlet-name>
        <servlet-class>controller.CataSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CataDeleteServlet</servlet-name>
        <servlet-class>controller.CataDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCataServlet</servlet-name>
        <servlet-class>controller.CataUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CataAddServelt</servlet-name>
        <servlet-class>controller.CataAddServelt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellServlet</servlet-name>
        <servlet-class>controller.SellServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellAddServlet</servlet-name>
        <servlet-class>controller.SellAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellRefreshServlet</servlet-name>
        <servlet-class>controller.SellRefreshServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellUpdateServlet</servlet-name>
        <servlet-class>controller.SellUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RevenueServlet</servlet-name>
        <servlet-class>controller.RevenueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellCalServlet</servlet-name>
        <servlet-class>controller.SellCalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellDeleteServlet</servlet-name>
        <servlet-class>controller.SellDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RevenueSearch</servlet-name>
        <servlet-class>controller.RevenueSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RevenueDeleteServlet</servlet-name>
        <servlet-class>controller.RevenueDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeServlet</servlet-name>
        <url-pattern>/employee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpLoginServlet</servlet-name>
        <url-pattern>/emp_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingServlet</servlet-name>
        <url-pattern>/setting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CatagoriesServlet</servlet-name>
        <url-pattern>/catagories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CataSearchServlet</servlet-name>
        <url-pattern>/searchCata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CataDeleteServlet</servlet-name>
        <url-pattern>/deleteCata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCataServlet</servlet-name>
        <url-pattern>/updateCata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CataAddServelt</servlet-name>
        <url-pattern>/addCata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellServlet</servlet-name>
        <url-pattern>/sell</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellAddServlet</servlet-name>
        <url-pattern>/addGoods</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellRefreshServlet</servlet-name>
        <url-pattern>/refresh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellUpdateServlet</servlet-name>
        <url-pattern>/updateSell</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RevenueServlet</servlet-name>
        <url-pattern>/revenue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellCalServlet</servlet-name>
        <url-pattern>/cal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellDeleteServlet</servlet-name>
        <url-pattern>/deleteSell</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RevenueSearch</servlet-name>
        <url-pattern>/searchHis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RevenueDeleteServlet</servlet-name>
        <url-pattern>/deleteAll</url-pattern>
    </servlet-mapping>
</web-app>
